apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mysql
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sijunkim/infra.git
    targetRevision: master
    path: k8s/apps/mysql
  destination:
    server: https://kubernetes.default.svc
    namespace: prodesk
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
