apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    persistence:
      enabled: true
      size: 128Mi
    additionalArguments:
      - "--certificatesresolvers.letsencrypt.acme.email=papaya9349@naver.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
    hostNetwork: true
    securityContext:
      capabilities:
        add:
          - NET_BIND_SERVICE
        drop:
          - ALL
      runAsNonRoot: false
      runAsUser: 0
      runAsGroup: 0
    service:
      enabled: false
    ports:
      web:
        port: 80
        redirectTo:
          port: websecure
      websecure:
        port: 443
